@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

#page-user-profile {
    font-family: 'Poppins', sans-serif;
}

#page-user-profile #page-header .card{
    border:none !important;
}
#page-user-profile {
    background-color: #FBFBFD !important;
}
#page-user-profile #page-header .prof_head{
    margin: 1.7rem 3rem -0.2rem 2rem !important;
    font-weight: 600;
    font-size: 26px;
   
}
#page-user-profile #page-header .card-body{
    padding:1.1rem !important;
}
#page-user-profile .prof_sec p{
    color:#747c84 !important;
   
}
#page-user-profile .prof_Sec_head{
    font-weight: 600;
   
}
#page-user-profile .node_category.card .card-body p{
    color:#747c84 !important;

}
#page-user-profile .prof_sec {
    padding:0.8rem;
   
}
#page-user-profile .page-header-headings{
    display: none !important;

}
#page-user-profile .userprofile .profile_tree {
    column-count: 1 !important;
    display: none;
}
#page-user-profile  .node_category.card{
    border:none !important;

}
#page-user-profile .lead{

    display:none !important;

}
#page-user-profile #region-main-box #region-main {
    border:none !important;
}

#page-user-profile #region-main-box #region-main .card-body{
    background: #FFFFFF !important;
    border-radius: 20px !important;
    padding: 1.9rem 1.7rem;
    line-height: 2;
}



#page-user-profile .page-context-header .page-header-image, .page-context-header .page-header-headings {
  
     float:none !important;
     text-align: center !important;
}
#page-user-profile .page-context-header .page-header-image .userpicture{
    height:200px !important;
    width:200px !important;

}

#page-user-profile .card .card-body .d-sm-flex.align-items-center .mr-auto {
    margin: auto !important;
}
#page-user-profile .card .card-body .header-button-group{
    display:none !important;
    
}
#page-user-profile .card{
    background-color: #FBFBFD !important;

}
#page-user-profile #region-main-box #region-main{
    background-color: #FBFBFD !important;

}
#page-user-profile .card .card-body .prof_sec{
    background: #FFFFFF !important;
    border-radius: 20px !important;
    padding: 2rem 1.7rem;
    line-height: 2;
    
}
#page-user-profile  .page-header-image{
    display:none;

}
#page-user-profile .card .card-body  .d-flex.flex-wrap {
    display:none !important;
}
#page-user-profile .context-header-settings-menu{
    display:none !important;
}
#page-user-profile  .page-header-image .edit_Prof{
    padding: .5rem;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    position: absolute;
    color: #404754;
    font-size: 24px;
    bottom: 3px;
    right: 15px;
  
}
#page-user-profile  .node_category.card .card-body {
    position: relative;
}
#page-user-profile  .node_category.card .card-body .edit_Prof_two{
position: absolute;
right: 22px;
top: 20px;
font-size: 18px;
color: #404754;
font-size: 24px;
}

#page-user-profile .page-header-image .aabtn{
 position:relative;
}
#page-user-profile  .node_category.card .card-body ul{
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem !important;
  
  

}
#page-user-profile  .node_category.card .card-body ul li{
    padding:0px !important;
  line-height: 2.5 !important;
  
  

}
#page-user-profile  .node_category.card .card-body ul li dd{ 
    color: #747c84 !important;
    
    
  
  }


#page-user-profile  .node_category.card .card-body ul .editprofile{
    display:none !important;
}
#page-user-profile #region-main{
    padding: 0rem 1.25rem !important;
}

@media (max-width:850px){
    #page-user-profile .node_category.card .card-body ul {
        width: 100% !important;
    }
    #page-user-profile #region-main {
        padding: 0.5rem 1.25rem!important;
    }
}

@media (max-width:500px){
    #page-user-profile #region-main {
        padding: 0 1.25rem!important;
    }
    #page-user-profile .page-context-header .page-header-image .userpicture {
        height: 150px!important;
        width: 150px!important;
    }
    #page-user-profile #page-header .prof_head {
        margin: 1.7rem 3rem -1rem 2rem!important;
        font-weight: 600;
        font-size: 18px;
    }
}



   

